<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <title>Мега ултра супер крутые отзывы</title>
    <script type="text/javascript" src='/static/mainJS.js'></script>
    <link href="/static/main.css" rel="stylesheet">
    </head>

    <body>
        <hl>блабла</hl>
        <form>
            <div>
                <input type="text" name="response" id="response">
                <label for="response">←Отзыв | Ваша оценка→</label>
                <input name="estimation1" type="checkbox" id="estimation1">
                <label for="estimation1">Плохо</label>
                <input name="estimation2" type="checkbox" id="estimation2">
                <label for="estimation2">Нормально</label>
                <input name="estimation3" type="checkbox" id="estimation3">
                <label for="estimation3">Хорошо</label>
                <div>
                    <button onClick="createFeedback()">
                        Добавить
                    </button>
                </div>
            </div>
        </form>
        <ul>
            {% for feedback in feedbacks_list %}
            <li>
                <div>
                    <div>
                        {{  feedback['response']}}
                    </div>
                    <input value="{{feedback['id']}}" onchange="updateFeedback1(this)" name="estimation1" type="checkbox" {%if feedback.estimation1 %} checked{% endif %}/>
                    <label for="estimation1">Плохо</label>
                    <input value="{{feedback['id']}}" onchange="updateFeedback2(this)" name="estimation2" type="checkbox" {%if feedback.estimation2 %} checked{% endif %}/>
                    <label for="estimation2">Нормально</label>
                    <input value="{{feedback['id']}}" onchange="updateFeedback3(this)" name="estimation3" type="checkbox" {%if feedback.estimation3 %} checked{% endif %}/>
                    <label for="estimation3">Хорошо</label>
                </div>
            </li>
            {% endfor%}
        </ul>
    </body>
</html>