<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <title>Мега ултра супер крутые отзывы</title>
    <script type="text/javascript" src='/static/mainJS.js'></script>
    <link href="/static/main.css" rel="stylesheet">
    </head>

    <body>
        <hl>блабла</hl>
        <form>
            <div>
                <input type="text" name="response" id="response">
                <label for="response">←Отзыв</label>
                <div class="form-div">
                    <select name="estimation" id="estimation">
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                    </select>
                    <label for="estimation">←Ваша оценка</label>
                </div>

                <div>
                    <button onClick="createFeedback()">
                        Добавить
                    </button>
                </div>
            </div>
        </form>
        <ul>
            {% for feedback in feedbacks_list %}
            <li>
                <div>
                    <div>
                        {{  feedback['response']}}
                    </div>
                    <div>
                        <label for="estimation">Оценка:</label>
                        <input value="{{feedback['estimation']}}" onchange="updateFeedback(this)" name="estimation" id="estimation"/>
                    </div>
                </div>
            </li>
            {% endfor%}
        </ul>
    </body>
</html>